@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Lilita One", sans-serif;
}

body {
	background-color: #fda4af;
}

a {
	text-decoration: none;
}

section {
	height: 100vh;
	scroll-snap-align: center;
}
